@font-face {
    font-family: 'Made Tommy';
    src: url('@assets/fonts/made_tommy_black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Made Tommy';
    src: url('@assets/fonts/made_tommy_extra_bold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Made Tommy';
    src: url('@assets/fonts/made_tommy_bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Made Tommy';
    src: url('@assets/fonts/made_tommy_medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Made Tommy';
    src: url('@assets/fonts/made_tommy_regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Made Tommy';
    src: url('@assets/fonts/made_tommy_light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Made Tommy';
    src: url('@assets/fonts/made_tommy_thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Killomint';
    src: url('@assets/fonts/killomint.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
