/* COLOR PROJECT
=========================================================================*/
$color-white:               #FFFFFF;
$color-white-25:            rgba(255, 255, 255, 0.25);
$color-white-50:            rgba(255, 255, 255, 0.50);
$color-black:               #000000;
$color-crayola:             #599D73;
$color-crayola-40:          rgba(89, 157, 115, 0.4);
$color-granny-smith-apple:  #A1E4A4;
$color-smoky-black:         #0D0E0D;
$color-smoky-black-75:      rgba(13, 13, 13, 0.65);
$color-smoky-black-65:      rgba(13, 13, 13, 0.65);
$color-smoky-black-60:      rgba(13, 13, 13, 0.60);
$color-smoky-black-50:      rgba(13, 13, 13, 0.50);
$color-smoky-black-30:      rgba(13, 13, 13, 0.30);
$color-smoky-black-25:      rgba(13, 13, 13, 0.25);
$color-smoky-black-20:      rgba(13, 13, 13, 0.20);
$color-eerie-black:         #1F1F1F;
$color-eerie-black-75:      rgba(31, 31, 31, 0.75);
$color-eerie-black-50:      rgba(31, 31, 31, 0.50);
$color-eerie-black-25:      rgba(31, 31, 31, 0.25);
$color-quartz:              #4D4B4D;
$color-quartz-25:           rgba(77, 77, 77, 0.25);
$color-quartz-15:           rgba(77, 77, 77, 0.15);
$color-chinese-silver:      #C8C8C8;
$color-chinese-silver-70:   rgba(200, 200, 200, 0.70);
$color-charleston-green:    #292929;
$color-charleston-green-95: rgba(41, 41, 41, 0.95);
$color-charleston-green-75: rgba(41, 41, 41, 0.75);
$color-davys-grey:          #555555;
$color-davys-grey-65:       rgba(85, 85, 85, 0.65);

/* SHADOW HELPERS
=========================================================================*/
$shadow-float:                0 0.063rem 0.125rem rgba(0, 0, 0, 0.3);

/* FONTS PROJECT
=========================================================================*/
$font-primary:                'Made Tommy', sans-serif;

/* BORDER RADIUS
=========================================================================*/
$border-radius:                0.25rem;
$border-radius-md:             0.188rem;
$border-radius-sm:             0.125rem;

