@import '@styles/_import';

.character-area {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    height: 37.5rem;
    width: 35rem;

    margin: 0rem 1.5rem;

    .side {
        display: flex;

        flex-direction: column;

        height: 100%;
    }

    .character {
        display: flex;
        flex: 1;

        flex-direction: column;

        height: 100%;
    }
}
